input[type=text] {
    width: 30%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
}

input[type=number] {
    width: 30%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    margin-left: 50px;
}

input[type="date"] {
    outline: none;
}

input[type="date"]::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
}

input[type="date"]::-webkit-inner-spin-button {
    height: 28px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 15px;
}

h1 {
    text-align: center;
    padding-bottom: 40px;
}

body {
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.container {
    background-color: rgba(5, 2, 2, 0.527);
}

#b1 {
    background-color: white;
    color: black;
    border: 2px solid #6699FF;
    align-content: center;
}